.app {
  background-color: #f9f9f9;
}
.page {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
  width: 874px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 24px;
}
input {
  margin: 0 auto;
  width: 550px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  padding: 18px 12px;
  height: 26px;
  line-height: 26px;
  outline: none;
}
button {
  margin-left: 24px;
}
p.desc {
  font-size: 0.8em;
  color: #999;
  margin: 12px 0 0;
}
.create-date {
  float: right;
}

.category-list {
  padding: 12px 0;
}

.category-list span {
  background: #e8e8e8;
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 0.8em;
  color: #999;
}
.category-list span.active {
  color: #000;
}

.loading-banner {
  text-align: center;
  padding: 24px 0 0;
}

.note-item p:not(.desc) {
  border-top: 1px solid #f5f5f5;
  padding-top: 6px;
  margin-top: 6px;
  /* background-color: #fafafa; */
}