/* reset css */

h1, h2, h3, h4, h5 {
  padding: 0;
}
p {
  margin: 0;
}

.float-right {
  float: right;
}
/* layout and page */

.app {
  background-color: #f9f9f9;
}

.page {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
  width: 874px;
  margin: 0 auto;
  min-height: 100vh;
}

.setting {
  position: fixed;
  top: 24px;
  right: 12px;
  width: 120px;
  text-align: right;
}

.gather-mode {
  padding: 24px;
}

/* common css for both mode */

.page .note-item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

.page .notice {
  font-size: 0.8em;
}

.page .note-item .content-row {
  font-size: 14px;
  color: #000;
  margin: 0;
}

.write-mode .loading-banner {
  text-align: center;
  padding: 24px 0 0;
}

.write-mode .edit-zone {
  margin-bottom: 24px;
  padding: 24px 24px 0;
}
.write-mode .edit-zone input,
.write-mode .edit-zone textarea {
  border: 1px solid #e8e8e8;
  outline: none;
  padding: 6px 12px;
  min-height: 41px;
  box-sizing: border-box;
  word-break: break-all;
}
.write-mode .edit-zone input {
  width: 85%;
}
.write-mode .edit-zone textarea {
  width: 100%;
}
.write-mode .edit-zone button {
  margin: 12px 0 0 12px;
}
.page .note-item {
  padding: 0 24px;
}
.write-mode .note-item .btn {
  display: none;
}
.write-mode .note-item:hover .btn {
  display: inline;
  cursor: pointer;
}
.write-mode .note-item .desc-row {
  font-size: 0.8em;
  color: #999;
  padding: 12px 0 6px;
}
.write-mode .note-item .desc-row .operation {
  float: right;
}
.write-mode .note-item .desc-row .operation .del {
  color: red;
}

.write-mode .note-item .content-row {
  border-top: 1px solid #f5f5f5;
  padding: 4px 0 8px;

}
.gather-mode .note-item .content-row {
  padding: 4px 0;
}

.write-mode .category-list {
  padding: 12px 0;
  margin: 0 24px;
}

.write-mode  .category-list .tag {
  background: #e8e8e8;
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 0.8em;
  color: #999;
}
.write-mode .category-list .active {
  color: #000;
}